[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy-searchable = "*"
sqlalchemy = "*"
faker = "*"
python-dotenv = "*"
"psycopg2" = "*"
falcon = "*"
jsonschema = "*"
whitenoise = "*"


[dev-packages]

[requires]
python_version = "3.6"
